html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}


blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}


body {
    font-family: "ALIBABA";
}

/* 自定义滚动条 */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    cursor: pointer;
}

.wrap {
    overflow: hidden;
    padding: 2% 20% 6% 20%;
    box-sizing: border-box;

    h1 {
        font-size: 3.3rem;
        font-weight: 200;
        letter-spacing: -0.1rem;
        text-indent: -2px;
    }

    h2 {
        color: grey;
        font-family: 'Source Code Pro', sans-serif;
    }

}

.topBorder {
    margin: 0 0 50px;
    width: 100px;
    height: 10px;
    background: #161616;
    display: block;
    cursor: pointer;
}

.close {
    font-size: 2rem;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

@media only screen and (max-width: 767px) {
    .wrap {
        padding: 0;
    }
}

footer {
    font-size: 14px;
    width: 100%;
    text-align: center;
    color: #161616;
    font-family: "ALIBABA";
    position: fixed;
    bottom: 10px;
    background-color: #fff;
}